@charset "UTF-8";

/* Header */
.navbar-brand {
  font-size: 26px;
  font-weight: bold;
}

/* Contents */
.main-contents {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
}

/* Table */
.table {
  border: 1px solid #ddd;
}

tr[data-href] {
  cursor: pointer;
}

th a {
  color: #333;
}

th .glyphicon {
  color: #ccc
}

.table-upper {
  margin: 0 0 14px 0;
}

.table-upper input[type="text"] {
  height: 36px;
  width: 100%;
  vertical-align: bottom;
}

.table-upper form {
  border: 1px solid #ddd;
  padding: 10px;
}

.pagination {
  margin-top: -6px;
}